<%- include("header") %>
<body class="body"><link rel="stylesheet" href="Starter.css">
<%practice.forEach(function(a1){%>
    <section class="Question-box">
    <p><%= a1.name%></p>
    <p><%= a1.Question%></p>
    </section>
    <% }) %>
<form action="/Answers" method="post">
    <input placeholder="Answer the question" name="Answer"></input>
    <button type="submit">Post answer</button>
</form>
<%practice1.forEach(function(a2){%>
    <section class="Answer-box">
        <p><%= a2.Answer %></p>
</section>
<% }) %>
</body>
