<%- include("header") %>
<body class="body"><link rel="stylesheet" href="Starter.css">
<h1>Quora Clone</h1>
<form action="/Question" method="post"> 
    <input placeholder="Please enter your question" name="Question" id="Question"></input>
    <input placeholder="Please enter your name" name="name" id="Name"></input>
    <button type="submit">Submit</button>
</form>
<form action="/Answers" method="post">
    <button type="submit">Go to answers section</button>
</form>