
<form action="/signup" method="post">
     <input type="text" name="email" placeholder="Your email"></input>
    <input type="text" name="password" placeholder="Your password"></input>
    <button type="submit">login</button>
</form>
<a href="/signup">Use this to sign in</a>