
.body{
    background-color: red;
    text-decoration-color: yellow;
}
.Question-box{
    box-shadow:inherit;
    border-color: blueviolet;
    background-color: yellow;
    font-style: italic;
    box-sizing: border-box;
}
